<h2>Home</h2>
<div>
 tên {{ name }}
</div>
<div>

  <input type="text" [(ngModel)]="name" />
  <br>
  <input type="text" [value]="name" >


  <h1 class="green">done</h1>
  <br>


  <button (click)="buttonReset()">

  </button>

  <h1 class="green">done</h1>


  <div *ngIf="age > 18; then objA; else objB ">

  </div>

  <ng-template #objA>
    class A
  </ng-template>

  <ng-template #objB>
    class B
  </ng-template>
  <h1 class="green" >done </h1>

  <div *ngFor="let car of cars">
    <li>
        {{car}}
    </li>
  </div>

  <h1 class="green">Done</h1>
  <table>
    <tr>
      <th>

      </th>
      <th>

      </th>
      <th>

      </th>
    </tr>
    <tr *ngFor="let car of carsObj; let i = index" >
      <td>
        {{i + 1}}
      </td>
      <td>
        {{ car.name | uppercase }}
      </td>
      <td>
        <span [ngClass]="{'green' : car.price > 0  }">
          {{car.price | number | onSale}}
        </span>
      </td>
    </tr>
  </table>
</div>
